/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    behaviors {
        custom_tap_hold: custom_tap_hold {
            compatible = "zmk,behavior-hold-tap";
            label = "CUSTOM_TAP_HOLD";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <250>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <200>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <
                6 7 8 9 10 11    /* right-hand keys for left half */
                18 19 20 21 22 23 /* left-hand keys for right half */
            >;
        };

        layer_td: layer_td {
            compatible = "zmk,behavior-tap-dance";
            label = "LAYER_TAP_DANCE";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mo 2>, <&tog 2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&kp TAB     &kp Q           &kp W           &kp E             &kp R        &kp T    &kp Y      &kp U        &kp I              &kp O            &kp P               &sl 4
&kp ESCAPE  &custom_tap_hold LEFT_GUI A  &custom_tap_hold LEFT_ALT S  &custom_tap_hold LEFT_SHIFT D  &custom_tap_hold LCTRL F  &kp G    &kp H      &custom_tap_hold RCTRL J  &custom_tap_hold RIGHT_SHIFT K  &custom_tap_hold RIGHT_ALT L  &custom_tap_hold RIGHT_GUI SEMI  &kp SQT
&kp LSHFT   &kp Z           &kp X           &kp C             &kp V        &kp B    &kp N      &kp M        &kp COMMA          &kp DOT          &kp FSLH            &kp RSHFT
                                            &mo 3             &kp SPACE    &mo 1    &layer_td  &kp ENTER    &kp BACKSPACE
            >;
        };

        lower_layer {
            display-name = "Symbols";
            bindings = <
&trans  &trans  &kp RIGHT_BRACE          &kp RIGHT_BRACKET            &kp RIGHT_PARENTHESIS       &kp PIPE            &kp BACKSLASH  &kp UNDERSCORE   &kp MINUS             &trans              &trans  &trans
&trans  &trans  &custom_tap_hold LEFT_ALT LEFT_BRACE  &custom_tap_hold LEFT_SHIFT LEFT_BRACKET  &custom_tap_hold LCTRL LEFT_PARENTHESIS  &kp TILDE           &kp SLASH      &custom_tap_hold RCTRL EQUAL  &custom_tap_hold RIGHT_SHIFT PLUS  &custom_tap_hold RIGHT_ALT PLUS  &trans  &trans
&trans  &trans  &trans                   &trans                       &kp DOUBLE_QUOTES           &kp SINGLE_QUOTE    &kp QUESTION   &kp SEMICOLON    &kp COLON             &trans              &trans  &trans
                                         &trans                       &trans                      &trans              &trans         &trans           &trans
            >;
        };

        raise_layer {
            display-name = "Numbers & Nav";
            bindings = <
&trans  &kp N1                    &kp N2                &kp N3               &kp N4            &kp N5         &kp N6    &kp N7          &kp N8                    &kp N9               &kp N0  &trans
&trans  &custom_tap_hold LEFT_GUI EXCLAMATION  &custom_tap_hold LEFT_ALT AT_SIGN  &custom_tap_hold LEFT_SHIFT HASH  &custom_tap_hold LCTRL DOLLAR  &kp PERCENT    &kp LEFT  &custom_tap_hold RCTRL DOWN  &custom_tap_hold RIGHT_SHIFT UP_ARROW  &custom_tap_hold RIGHT_ALT RIGHT  &trans  &trans
&trans  &kp GRAVE                 &kp CARET             &kp AMPERSAND        &kp ASTERISK      &trans         &kp HOME  &kp PG_DN       &kp PG_UP                 &kp END              &trans  &trans
                                                        &trans               &trans            &trans         &trans    &trans          &trans
            >;
        };

        layer_3 {
            display-name = "F-Keys";
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6    &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans   &trans   &trans
                        &to 0   &trans  &trans    &to 4   &trans  &trans
            >;
        };

        layer_4 {
            display-name = "BT";
            bindings = <
&trans      &trans        &trans        &trans        &trans        &trans          &trans      &trans  &trans  &trans      &trans  &trans
&trans      &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &bt BT_PRV  &trans  &trans  &bt BT_NXT  &trans  &trans
&bt BT_CLR  &trans        &trans        &trans        &trans        &out OUT_TOG    &trans      &trans  &trans  &trans      &trans  &trans
                                        &to 0         &trans        &trans          &to 3       &trans  &trans
            >;
        };
    };
};
